html,
body {
  background: hsl(120, 100%, 40%);
}

canvas {
  border: 3px groove aliceblue;
  background-color: rgb(0, 255, 0);
}

canvas:focus {
  outline: none;
}

#gameInfoSection {
  display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddc867;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
